head {
  background-color: #F05B51;
}

body {
  font-family: "aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: 500;
}
p {
  font-family: "aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: 700;
}

.okwhen {
  opacity: .4;
}
