
body {
  background-color: #F05B51;
}
h1 {
  font-family: "aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2.33px;
  line-height: 60px;
  margin: 30px 100px 0px;
}
p {
  font-family: "aktiv-grotesk",sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 700;
}

.okwhen {
  opacity: .4;
}

p.side {
  font-size: 15px;
  transform: rotate(90deg);
  transform-origin: left top 0;
  float: right;
  margin-right: 2px;
}
