
body {
  background-color: #F05B51;
  margin: 30px 100px 0px;
}

h1 {
  font-family: "aktiv-grotesk",sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2.33px;
  line-height:.3vw;
  font-size: 6vw;
  margin-top: 50px;
}

p {
  font-family: "aktiv-grotesk",sans-serif;
  font-style: normal;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
}

.okwhen {
  opacity: .4;
}

p.side {
  font-size: 15px;
  letter-spacing: 1.79px;
  transform: rotate(90deg);
  transform-origin: left top 0;
  float: right;
  margin-right: 0px;
}
